.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #75410a;
	padding: 10px;
	color: #efedea;
}

.link{
	text-decoration: none;
	color: #75410a;
	margin-right: 10px;
	padding: 2px;
	border-radius: 2px;
	background-color: #fff;
	opacity: 0.7;
}